<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hiking Adventures!</title>

  <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
    <nav style="background-color: #a5e4c5; display: flex; align-items:center; height: 60px;">
  <div style="display: flex; align-items:center; justify-content:space-around; width: 100%; max-width: 1200px; margin: 0 auto;">
    
    <a href="/" style="text-decoration: none;">
      <h3 style="color: black; margin: 0;">Start your Hiking Adventures here</h3>

    </a>

    <div style="display: flex; align-items:center">
      {{#if session.loggedIn}}
        <ul style="display: flex; list-style: none; margin: 0; padding: 0;">
          <li style="margin-right: 20px;">
            <a href="/profile" style="text-decoration: none; color: black;">Profile</a>
          </li>
          <li>
            <a  href="#" id="reload" style="text-decoration: none; color: black;">Logout</a>
          </li>
        </ul>
      {{else}}
        <ul style="display: flex; list-style: none; margin: 0; padding: 0;">
          <li style="margin-right: 20px;">
            <a href="/login" style="text-decoration: none; color: black;">Login</a>
          </li>
          <li>
            <a href="/login" style="text-decoration: none; color: black;">Sign Up</a>
          </li>
        </ul>
     
      {{/if}}
    </div>

    <form style="display: flex; align-items: center;">
      <input type="search" placeholder="Hiking Spots" style="padding: 5px; margin-right: 5px; border-radius: 5px; border: 2px solid rgb(155, 224, 174); font-size: 16px; width: 250px;">
      <button style="padding: 10px 20px; border-radius: 5px; border: none;">Search</button>
    </form>
  </div>
</nav>



    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>
</body>

</html>

<script src="../css/js/logout.js"></script>
