<!-- Loop over each object in the ratings array -->
{{#each ratings as |ratings| }}
<div class="row mb-4 rating">
  <div class="col-md-5">
    <h2>
  
      <span for="img" aria-label="stars">💲</span>
  
      <span class="rating-system">{{format_amount rating}}</span>
      needed!
    </p>
    <p>Created by {{ratings.user.name}} on {{format_date rating-system_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{ratings.description}}
    </p>
  </div>
</div>
{{/each}}
